.authorBox{
    font-size: 1.25rem;
    border: black solid 3px;
    border-radius: 5px;
    max-width: 25%;
    padding: 1rem;
}

.overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.authorModal{
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translate(0, -50%);
}

.authorInfo{
  align-self: center;
  background-color: antiquewhite;
  padding: 1rem;
}