* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Glitch";
  src: url(./Fonts/Eordeoghlakat.otf);
  font-display: swap;
}

@font-face {
  font-family: "Impact";
  src: url(./Fonts/impact.ttf);
  font-display: swap;
}

.hero {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.house {
  color: red;
  font-size: 5vw;
}

.logo {
  font-size: 6.5vw;
  font-family: "Glitch", Arial, Helvetica, sans-serif;
  color: white;
}

.logo span {
  color: red;
  font-family: "Impact";
  font-size: 6vw;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .logo span {
    letter-spacing: -0.2rem;
  }

  .house{
    font-size: 3vw;
  }
}
