.block-group{
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 2vw;
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  text-align: center;
}

.block{
  background-color: blue;
  border: 2px solid black;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
