.block-group {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 2vw;
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  text-align: center;
}

.block {
  background-color: blue;
  border: 2px solid black;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.topLeft {
  animation: topLeftCornerFlip 1.25s ease-out 1;
}

@keyframes topLeftCornerFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(2, -2, 0, -180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(4, -4, 0, -360deg);
  }
}

.topCenter {
  animation: topCenterTopFlip 1.25s ease-out 1;
}

@keyframes topCenterTopFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(2, 0, 0, 180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(4, 0, 0, 360deg);
  }
}

.topRight {
  animation: topRightCornerFlip 1.25s ease-out 1;
}

@keyframes topRightCornerFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(-2, -2, 0, 180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(-4, -4, 0, 360deg);
  }
}

.middleLeft {
  animation: middleLeftLeftFlip 1.25s ease-out 1;
}

@keyframes middleLeftLeftFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(0, -2, 0, 180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(0, -4, 0, 360deg);
  }
}

.middleCenter {
  animation: middleCenterPress 0.5s ease-out 1;
}

@keyframes middleCenterPress {
  0% {
    background-color: blue;
    margin: 0;
  }
  50% {
    background-color: rgb(0, 0, 156);
    margin: 0.9rem;
  }
  100% {
    background-color: blue;
    margin: 0;
  }
}

.middleRight {
  animation: middleRightRightFlip 1.25s ease-out 1;
}

@keyframes middleRightRightFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(0, 2, 0, 180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(0, 4, 0, 360deg);
  }
}

.bottomLeft {
  animation: bottomLeftCornerFlip 1.25s ease-out 1;
}

@keyframes bottomLeftCornerFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(2, 2, 0, -180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(4, 4, 0, -360deg);
  }
}

.bottomCenter {
  animation: bottomCenterTopFlip 1.25s ease-out 1;
}

@keyframes bottomCenterTopFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(-2, 0, 0, 180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(-4, 0, 0, 360deg);
  }
}

.bottomRight {
  animation: bottomRightCornerFlip 1.25s ease-out 1;
}

@keyframes bottomRightCornerFlip {
  0% {
    background-color: blue;
  }
  50% {
    background-color: black;
    transform: rotate3d(2, -2, 0, 180deg);
  }
  100% {
    background-color: blue;
    transform: rotate3d(4, -4, 0, 360deg);
  }
}
