html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: paleturquoise;
    padding: 1em;
}

h2{
    text-align: center;
}

pre{
    background-color: rgb(195, 194, 194);
    width: fit-content;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}