.main-box{
  background-color: aqua;
  padding: 7rem 2rem;
}

.interior-box{
  display: flex;
  justify-content: center;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 7vw;
  font-weight: bold;
  text-align: center;
}

.dog{
  max-width: 25%;
  animation: dog 3s linear infinite;
}

@keyframes dog {
  0% {transform: translate(10vw);}
  33% {transform: scaleX(-1) translate(0vw);}


}
